@model AddPersonVM
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control">
        <span class="text-danger" asp-validation-for="Age"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <spanclass ="text-danger" asp-validation-for="Email"></spanclass>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label asp-for="confirmPassword" class="form-label"></label>
        <input asp-for="confirmPassword" class="form-control">
        <span class="text-danger" asp-validation-for="confirmPassword"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="mt-2">
        <!-- Checkbox -->
        <div class="form-check">
            <input class="mb-3 form-check-input" asp-for="AsInstractor" />
            <label class="mb-3 form-check-label" asp-for="AsInstractor"></label>
        </div>
    </div>

    <div class="text-center text-lg-start mt-4 pt-2">
      
        <p class="small fw-bold mt-2 pt-1 mb-0">
            Don't have an account? <a asp-controller="Account" asp-action="Login"
                                      class="link-danger">Login</a>
        </p>
    </div>
   
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
     <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }